<div class="animated fadeIn">
	<div class="row">
		<div class="page-title">Chuva</div>
	</div>

	<div class="row">
		<div class="col-8">
			<div class="card">
				<div class="card-block">
					<level-chart [mainChartData]="mainChartData"
								 [mainChartLabels]="mainChartLabels"
								 [yAxisUnit]="'mm'">
					</level-chart>
				</div>
			</div>
		</div>

		<div class="col-4">
			<div class="card">
				<div class="card-block">
					<table class="table table-striped">
						<thead>
						<tr>
							<th class="text-center">Hora</th>
							<th class="text-center">Índice pluviométrico</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let rainFall of rainFalls">
							<th class="font-weight-normal text-center">{{ rainFall.time | date:'HH:mm - dd/MM/yy' }}</th>
							<td class="text-center">{{ rainFall.intensity | number:'1.2-2' }} mm</td>
						</tr>
						<tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
