<div class="animated fadeIn">

	<div class="row">
		<div class="page-title"></div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="card text-white" [ngClass]="riverStatusCardClass">
				<div class="card-body pb-0">
					<h1 class="mb-0">{{this.getRiverLevelFixed()}}</h1>
					<div class="btn-group float-right">
						<button class="btn btn-transparent p-0" type="button"
								aria-haspopup="true" aria-expanded="false" (click)="redirectToRiverLevel()">
							<i class="icon-arrow-right"></i>
						</button>
					</div>
					<p>NÍVEL DO RIO</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card text-white" [ngClass]="rainIntensityCardClass">
				<div class="card-body pb-0">
					<h1 class="mb-0">{{rainIntensity}}</h1>
					<div class="btn-group float-right">
						<button class="btn btn-transparent p-0" type="button"
								aria-haspopup="true" aria-expanded="false" (click)="redirectToRainFall()">
							<i class="icon-arrow-right"></i>
						</button>
					</div>
					<p>CHUVA</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card text-white" [ngClass]="riverStatusCardClass">
				<div class="card-body pb-0">
					<h1 class="mb-0">{{riverStatus}}</h1>
					<div class="btn-group float-right">
					</div>
					<p>ESTADO</p>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="card">
				<div class="card-block">
					<level-chart [mainChartData]="mainChartData"
								 [mainChartLabels]="mainChartLabels"
								 [yAxisUnit]="'m'">
					</level-chart>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="card">
				<div class="card-block">
					<a href="https://www.accuweather.com/en/br/blumenau/35954/weather-forecast/35954" class="aw-widget-legal"></a>
					<div id="awtd1506882640793" class="aw-widget-36hour"  data-locationkey="35954" data-unit="c" data-language="pt-br" data-useip="false" data-uid="awtd1506882640793" data-editlocation="false"></div>
				</div>
			</div>
		</div>
	</div>
</div>
