<div class="animated fadeIn">
	<div class="row">
		<div class="page-title">Enchentes</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-block">
					<table class="table table-striped text-center">
						<thead>
						<tr>
							<th class="text-center">Data da Medição</th>
							<th class="text-center">Pico</th>
							<th class="text-center">Cidade</th>
							<th class="text-center">Estado</th>
						</tr>
						</thead>
						<tbody>
						<tr *ngFor="let flood of floods">
							<td>{{ flood.date | date:'dd/MM/yyyy' }}</td>
							<td>{{ flood.level | number:'1.2-2' }} m</td>
							<td>{{ flood.city}}</td>
							<td>{{ flood.federationUnit}}</td>
						</tr>
						<tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
